---
// Logo.astro - Simple SVG logo with initials BY
---

<a href="/" class="font-bold text-2xl flex items-center space-x-2">
  <svg 
    viewBox="0 0 60 40" 
    width="60" 
    height="40" 
    xmlns="http://www.w3.org/2000/svg"
    class="text-accent fill-current"
  >
    <path d="M10,5 h20 a10,10 0 0,1 0,20 h-20 v-30 h20" 
          stroke="currentColor" 
          stroke-width="3" 
          fill="none" />
    <path d="M40,5 v30 l15,-15 v-15 h-15" 
          stroke="currentColor" 
          stroke-width="3" 
          fill="none" />
  </svg>
  <span>Blake's Thoughts</span>
</a> 